.after-hero {
	position: relative;
	background-color: #ffffff;
	padding-top: 25px;
	&:before {
			content: '';
			width: 100%;
			background-size: 100% 100%;
			position: absolute;
			top: -50px;
			left: 0;
			height: 50px;
			// The svg is just for design, graceful fallback if not compatible
			background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon points='0,100 100,100 100,0' style='fill:#ffffff;' /></svg>");
			@media (min-width: $screen-sm-min) {
				height: 100px;
				top: -100px;
			}
		}
}