.btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	background-color: #ffffff;
	color: $font-color;
	line-height: 36px;
	padding: 0 12px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid #ffffff;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.05);
	}
	&:active {
		transform: scale(1.1);
	}
	&.btn-border {
		background-color: transparent;
		color: #ffffff;
	}
}