.btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	background-color: #ffffff;
	color: $font-color;
	line-height: 36px;
	padding: 0 12px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid #ffffff;
	transition: transform 0.3s ease;
	&.btn-black {
		background-color: #333333;
		border-color: #333333;
		color: #ffffff;
	}
	&:hover {
		transform: scale(1.05);
	}
	&:active {
		transform: scale(1.1);
	}
	&.btn-border {
		background-color: transparent;
		color: #ffffff;
		&.btn-black {
			color: #333333;
		}
	}
	&.btn-sm {
		font-size: 12px;
		padding: 0 9px;
		line-height: 27px;
		border-radius: 15.5px;
	}
}