body {
	font-family: $primary-font;
	font-size: $base-font-size;
	line-height: 1.76rem;
}

.text-center {
	text-align: center;
}
.float-right {
	float: right;
}

.text-muted {
	color: lighten($font-color, 50%);
}

.small-text {
	font-size: calc(#{$base-font-size} * 0.6);
	margin: 5px 0;
}

section {
	padding: 50px 0;
	position: relative;
	.section-title {
		margin-top: 0;
	}
	.section-sub-title {
		letter-spacing: 2px;
		font-weight: bold;
		margin-bottom: 25px;
	}
}