body {
	font-family: $primary-font;
	font-size: $base-font-size;
	line-height: 1.76rem;
}

.text-center {
	text-align: center;
}
.float-right {
	float: right;
}

.text-muted {
	color: lighten($font-color, 50%);
}

.small-text {
	font-size: calc(#{$base-font-size} * 0.6);
	margin: 5px 0;
}

section {
	padding: 50px 0;
	position: relative;
	.section-title {
		margin-top: 0;
	}
	.section-sub-title {
		letter-spacing: 2px;
		font-weight: bold;
		margin-bottom: 25px;
	}
}

.social-media {
	font-size: 2.4rem;
	a {
		text-decoration: none;
		color: inherit;
		vertical-align: middle;
		display: inline-block;
		height: 40px;
		.symbol {
			display: inline-block;
			transition: transform 0.2s ease;
			vertical-align: middle;
			&:hover {
				transform: scale(1.15);
			}
			&:active {
				transform: scale(1.2);
			}
		}
	}
}