.portfolio {
	background-color: #f7f7f7;
	.portfolio-item {
		margin-bottom: 30px;
		background-color: #efefef;
		transition: background-color 0.4s ease;
		.portfolio-item-title-wrap {
			background-color: #ffffff;
			padding: 15px;
			position: relative;
			.portfolio-item-title {
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.portfolio-item-subtitle {
				margin: 0;
				font-size: 0.8rem;
				position: relative;
				margin-top: 5px;
				&:before {
					content: '';
					border-top: 2px solid #333333;
					position: absolute;
					top: -2.5px;
					left: 0;
					width: 40px;
				}
			}
			&:after {
				top: 100%;
				left: 50px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-top-color: #ffffff;
				border-width: 15px;
				margin-left: -15px;
			}
		}
		.portfolio-item-content {
			padding: 15px;
			.portfolio-item-lang {
				font-size: 1.8rem;
				border-top: 1px solid #333333;
				margin-top: 10px;
				.portfolio-item-lang-title {
					font-size: 14px;
				}
			}
			.portfolio-item-type {
				display: inline-block;
				background-color: #333333;
				color: #ffffff;
				@extend .small-text;
				padding: 10px;
				line-height: 0;
				margin: 0;
				border-radius: 5px;
			}
			.portfolio-item-links {
				border-top: 1px solid #333333;
				margin-top: 15px;
				padding-top: 10px;
				font-size: 0.8rem;
				font-weight: bold;
				span {
					a {
						text-decoration: none;
						color: #333333;
						&:hover {
							text-decoration: underline;
						}
					}
					&:before {
							content: ' | ';
						}
					&:first-child:before {
						content: '';
					}
				}
			}
		}
		&:hover {
			//background-color: #ffffff;
		}
	}
}