.site-header {
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	z-index: 500;
	transition-property: background-color, height, padding;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	body.nav-not-top &
	{
		background-color: rgba(0,0,0,0.35);
		height: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.site-branding {
		height: 100%;
		background-image: url(../img/ts-logo.png);
		background-image: url(../img/ts-logo.svg);
		background-repeat: no-repeat;
		background-size: contain;
		text-indent: -100%;
		overflow: hidden;
		width: 40px;
		display: inline-block;
		margin-right: 15px;
		vertical-align: middle;
	}
	.site-header-right {
		display: inline-block;
		float: right;
		.social-media {
			vertical-align: middle;
			display: inline-block;;
			color: #ffffff;
			margin: 0 15px;
		}
	}
}